extends layout

block content
    h1 WELCOME TO MY ONLINE STORE !!!
    br
    .container
        .row
            .col-md-4.col-sm-6.col-xs-6
                .card(style='width: 18rem;')
                    img.card-img-top(src='./images/shirt.jpg', alt='.' height="240px")
                    .card-body
                        h5.card-title Branded Shirt
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                        h6 Price: 500
                        button.btn.btn-info(type='button') Add To Cart
                    .card-body
                        a.card-link(href='#') Get Details
                        br
                        a.card-link(href='#') More Info

            .col-md-4.col-sm-6.col-xs-6
                .card(style='width: 18rem;')
                    img.card-img-top(src='./images/shirt.jpg', alt='.' height="240px")
                    .card-body
                        h5.card-title Branded Shirt
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                        h6 Price: 500
                        button.btn.btn-info(type='button') Add To Cart
                    .card-body
                        a.card-link(href='#') Get Details
                        br
                        a.card-link(href='#') More Info

            .col-md-4.col-sm-6.col-xs-6
                .card(style='width: 18rem;')
                    img.card-img-top(src='./images/shirt.jpg', alt='.' height="240px")
                    .card-body
                        h5.card-title Branded Shirt
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                        h6 Price: 500
                        button.btn.btn-info(type='button') Add To Cart
                    .card-body
                        a.card-link(href='#') Get Details
                        br
                        a.card-link(href='#') More Info                        